main {
    padding-left: 30;
    padding-right: 30;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
    margin-bottom: 20px;

}

.flex img {
    border-radius: 35px;
    max-width: 100%;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}


.flex:hover {
    border: 2px solid #911e42;
}

.flex:hover button {
    background-color: #911e42;
    color: white;
}

.flex img:hover {
    border-radius: 35px;
    transform: scale(1.1);
}

.price,
.food,
.count {
    margin: 2%;
    transition: transform 0.3s ease;
}


.price:hover,
.food:hover {
    transform: scale(1.1);
}

.count:hover {
    color: gray;
}

.flex button {
    background-color: #f1eee9;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border-color: #f1eee9;
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav a.active {
    color: #911e42;
}

nav a:hover {
    color: #911e42;
}


@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 600px) {
    section h2 {
        text-align: center;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


#form {
    text-align: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.user input[type="text"],
.user input[type="tel"] {
    width: 200px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    max-height: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: smaller;

}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.your_data,
.your_order {
    margin-bottom: 10px;
    margin-top: 0;
}

select {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 250px;
    height: 30px;
}

textarea {
    width: 250px;
}

#time_choice {
    width: 162px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

#comment,
#name,
#phone,
#soon,
#open_time {
    margin-top: 5px;
    margin-bottom: 15px;
}

.label_comment {
    margin-top: 10px;
}


#subscribe {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

#subscribe_yes {
    font-size: smaller;
}

#email,
#address,
#label_soon {
    margin-top: 5px;
}

#current_time {
    margin-bottom: 10px;
    margin-left: 0;
}

#soon {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
}

#label_delivery,
#open_time {
    font-size: smaller;
    font-style: italic;
}

#food_price,
#empty_space,
#soup-select,
#main-select,
#drink-select {
    font-weight: bold;
}

#total_price {
    font-size: larger;
}

#reset,
#submit {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset:hover,
#submit:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.filters {
    margin-bottom: 20px;
    display: flex;
}

.filters a {
    font-size: smaller;
    padding: 10px;
    text-decoration: none;
    color: rgb(2, 93, 2);
    border-radius: 35px;
}

.filters .active {
    background-color: rgba(165, 205, 126, 0.96);
}

.filters a:hover {
    background-color: rgba(165, 205, 126, 0.96);
}

.hidden {
    display: none;
}

.combo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    text-align: center;
}

.combo-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.combo img {
    width: 50%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    object-fit: contain;
    margin-bottom: 5px;
    text-align: center;
}

.combo img:hover {
    transform: translateY(-5px) scale(1.05);
}

.dessert-info,
.dish-name {
    font-size: smaller;
    text-align: center;
    white-space: nowrap;
}

.dessert-info {
    font-style: italic;

}

.name-combo {
    text-align: center;
    margin: 10px;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.notification.hidden {
    display: none;
}

#notification-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

#notification-button:hover {
    background-color: #911e42;
    color: white;
}

.get_order {
    position: sticky;
    bottom: 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes_order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #911e42;
}

.icons {
    text-align: center;
}