* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav a.active {
    color: #911e42;
}

body {
    margin: 0;
    padding: 10px;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

nav a:hover {
    color: #911e42;
}

main {
    padding-left: 20px;
}

section h2 {
    font-size: 20px;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 50%;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

footer:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .about img {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {

    body {
        padding-left: 10px;
    }

    main {
        padding-left: 0px;
    }

    body header h1 {
        text-align: center;
    }

    nav ul {
        padding-left: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-align: center;
    }

    nav a {
        font-size: calc(1rem + 4px);
    }

    .about img {
        max-width: 100%;
        text-align: center;
    }

    table th,
    table td {
        font-size: calc(1rem - 2px);
    }
}

@media screen and (max-width: 400px) {

    table th,
    table td {
        font-size: calc(1rem - 4px);
    }
}