* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

main, header {
    margin-left: 50px;
    margin-right: 50px;
}

header {
    color: black;
    padding: 20px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

nav ul li, #active {
    color: tomato;
}

nav ul li a:hover {
    color: tomato;
}

main {
    padding: 20px;
}

h2 {
    font-size: 2em;
}

.lunch-menu {
    margin: 20px auto;
}

.dishes {
    margin-bottom: 40px;
}

.dish-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.dish {
    background-color: white;
    padding: 30px 40px;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    text-align: column;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.dish:hover {
    border: 2px solid tomato; 
}

.dish img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 35px;
}

.dish p {
    margin: 10px 0;
}

.dish .price {
    font-size: 1.5em;
    font-weight: bold;
}

.dish .name {
    font-size: 1.2em;
}

.dish .weight {
    color: grey;
}

button {
    background-color: #f1eee9;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    border: none;
    transition: background-color 0.3s ease;
}

.dish:hover button {
    background-color: tomato;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact {
    color: white;
}

.dishesorder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px;
}

.order label, .order select, .order textarea, .order input {
    margin-bottom: 10px; 
}

.buttonform1 {
    background-color: white;
    border: 2px solid black;
    flex-direction: row;
    float: left;
    width: 49%;
    margin-top: 5px;
} 
    
.buttonform2 {
    background-color: white;
    border: 2px solid black;
    flex-direction: row;
    float: right;
    width: 49%;
    margin-top: 5px;
}   

.note {
    font-size: 12px;
} 

.order input {
    padding: 5px 15px;
}

.dishesorder select {
    padding: 5px 30px;
}

.order textarea {
    padding: 30px 30px;
}

.dishorder {
    display: flex;
    flex-direction: column;
    float: left;
    width: 49%;
}

.dishdata {
    display: flex;
    flex-direction: column;
    float: right;
    width: 49%;
}

p {
    font-size: 1.2em;
}

@media (max-width: 800px) {
    .dish-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dish-grid {
        grid-template-columns: 1fr;
    }

    h2 {
        text-align: center;
    }
}

/* Стили кнопок фильтрации */
.filters button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: green; 
    background: none;
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}
/* Раскодировать для того чтобы появлялась обводка при наведении на кнопку */
.filters button:hover {
    border: 2px solid green;  
} 

.filters button.active {
    background-color: #d2eedc; 
    color: green; 
    border-radius: 10px; 
}
/* Конец кнопок фильтрации */